body{
    text-align: center;
    color: aliceblue;
  }
  
  .btn {
    background-color:  	#F5A901;
  }
  
  #imgLogo {
    width: 8em;
    margin: 1.5em;
  }
  
  .trans-lab {
    font-family: 'Francois One', sans-serif;
    font-size: 2em;
    color: #F5A901;
    text-align: center;
  }
  
  .dropdown-item{
    color: antiquewhite;
  }

  .sign-up{
    color: #F5A901;
  }
  
  #login {
    background-color: #3E3F41;
  }